.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hero-bg-img {
  background-image: url("./images/hero-image.png");
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
}

.text-shadow-custom {
  text-shadow: 4px 4px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}
.text-shadow-custom-sm {
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

.box-shadow-custom {
  box-shadow: 5px 5px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.box-shadow-custom-hoverable {
  box-shadow: 5px 5px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.box-shadow-custom-hoverable:hover {
  box-shadow: 10px 10px 0 #eeca51, 0px 0px 0 #000, 0px 0px 0 #eeca51,
    0px 0px 0 #eeca51, 0px 0px 0 #eeca51;
}

.tile-shadow {
  width: 105%;
  height: 105%;
  top: 0;
  left: 0;
  position: absolute;
  border: 2px solid #000;
  background-color: #477dfd;
  border-radius: 25px;
  z-index: -10;
  -webkit-transition: transform 0.21s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: transform 0.21s cubic-bezier(0.39, 0.575, 0.565, 1);
}

/* mobile */
@media screen and (max-width: 640px) {
  .text-shadow-custom {
    text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
      -1px 1px 0 #000, 1px 1px 0 #000;
  }
}
